.jumbotron {
  background-image:url('butterfly leaves.jpg');
  height:655px;
  background-repeat: no-repeat;
  background-size:cover;

}

.jumbotron .container {
  position: relative;
  top:15px;
}

.jumbotron .container h1 {
  color: rgba(0, 0, 0, 0.57);
  font-size: 75px;
  font-family: 'Shift', cursive;
  font-weight: bold;
}

.jumbotron .nav h2 {
    font-size: 30px;
    font-family: 'Shift', cursive;
    position: relative;
    top: 20px;
}

.jumbotron .nav {
    font-family: 'Shift', cursive;

}
input[type=submit] {
    background-color: rgba(0, 0, 0, 0.57);
    color:white;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    padding: 2px 6px 2px 6px;
    border-color: white;
    border-style:solid;
}
input[type=submit]:hover
{
    background-color: rgba(0, 0, 0, 0.57);
    border-color: #888;
    box-shadow: 0 0 2px #ccc;
}




